.wrapper {
  width: 100%;
  margin: 0 auto 0;
}
.content {
  color: #333;
  z-index: 2;
  text-align: center;
  margin-left: 15px;
}
.item {
  width: 450px;
  float: left;
  display: block;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}
.shell {
  position: relative;
}
header {
  border-bottom: 1px solid #bbb;
}
.img1 {
  height: 300px;
  border-radius: 5px 5px 5px 5px;
  display: block;
  width: 100%;
  cursor: pointer;
}
.img1:hover {
  cursor: pointer;
}
.main-content {
  border-radius: 50px;
  height: 300px;
  color: #fff;
}
.img-content {
  position: relative;
}
.gallery-name {
  color: black;
  font-size: 30px;
}
.gallery-details {
  color: black;
}
.close {
  position: absolute;
  top: 19px;
  right: 245px;
  font-size: 30px;
  width: 40px;
  height: 40px;
  border: 2px solid transparent;
}
.close:hover {
  color: #bbb;
  text-decoration: none;
  cursor: pointer;
}
.show{
  width: 80px;
  height:80px;
  border-radius: 50px;
  border: 0;
  line-height: 80px;
  border-bottom: 2px solid #c0392b;
  cursor: pointer;
  background-color: #f05a1a;
}
.show:hover,
.show:focus {
  color: #bbb;

}
.modal {

  position: fixed; /* Stay in place */
  z-index: 1; /* Sit on top */
  left: 0;
  top: 0;
  width: 100%; /* Full width */
  height: 80px; /* Full height *
  overflow: auto; /* Enable scroll if needed */
}
.modal-content {
  margin: auto;
  display: block;
}
.modal1 {
  background-color: rgba(0,0,0,0.4);
  position: fixed;
  z-index: 1;
  padding-top: 70px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,1);

}
.caption {
  margin: auto;
  display: block;
  text-align: center;
  color: #ccc;
  padding: 10px 0;
  height: 150px;
}
.link {
  cursor: pointer;
  top: 50%;
  position: absolute;
  left: 50%;
  transform: translate(-50%, -50%);
}
/* Add Animation */
.modal-content, #caption {
  -webkit-animation-duration: 0.6s;
  animation-name: zoom;
}

@-webkit-keyframes zoom {
  from {-webkit-transform:scale(0)}
  to {-webkit-transform:scale(1)}
}


