
.wrapper {
  overflow: hidden;
  width: 100%;
  margin: 0 auto 0;
}
.content {
  color: #333;
  z-index: 2;
  text-align: center;
  margin: 0 10px 0 10px;
}
.item {
  width: 450px;
  float: left;
  display: block;
  border-radius: 5px;
  margin: 5px 5px 5px 5px;
}
.shell {
  position: relative;
  overflow: hidden;
}
header {
  border-bottom: 1px solid #bbb;
}

.img1 {
  height: 300px;
  border-radius: 5px 5px 5px 5px;
  display: block;
  width: 100%;
  padding-top: 50px;
}

.main-content {
  border-radius: 50px;
  height: 300px;
  color: #fff;

}
footer {
  border-radius: 10px 10px 0 0;
  color: #bbb;
  font-size: 14px;
  position: relative;
  overflow: hidden;
  border: 1px solid #ddd;
  background: #fafafa;
}
.gallery-name {
  color: black;
  font-size: 30px;
}
.gallery-details {
  color: black;
}

